body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

p {
    margin: 0 0 10px 0;
    color: #666;
}

.sort-by {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.sort-by label {
    margin-right: 10px;
    font-weight: bold;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.book-author {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.book-price {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.book-price .old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.book-price .discount {
    color: #d9534f;
    margin-left: 10px;
}

.book-rating {
    font-size: 14px;
    color: #ffca28;
}


/* Modal specific styles */
.modal-body img {
    max-width: 100%;
    height: auto;
  }